.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown__content {
    display: none;
    position: absolute;
    top: 100%;
    left: -300%;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
  }
  .box-shadow{
    box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
  }
  .container1{
    transform: translate(-50%, -50%);
  }
  .translate-box{
    transform: translate(-50%, -50%);
  }
  .nav__list_active{
    left: -5% !important;
  }
  .relative1{
    transform: translate(-0%, -44%);
  }
  .backdrop-content{
    backdrop-filter: blur(10px);
  }
  @media screen and (max-width:1280px) {
    .nav__list_active{
      left: -12% !important;
    }
  }
  @media screen and (max-width:1024px) {
    .nav__list_active{
      left: -17% !important;
    }
  }